version: '3'

services:
  auto-visit-growing:
    container_name: auto-visit-growing
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./data/user_data:/auto-visit-growing/user_data
      - ./config.js:/usr/src/app/config.js
    command: yarn start
