version: '3'

services:
  auto-growing:
    container_name: auto-growing
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      - TARGET_WALLET=
    volumes:
      - ./data/user_data:/user_data
    command: nodejs index.js
